<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of task</title>
  </head>
  <body>
    <h1>Lista de Tareas / Task List</h1>
    
    <h2>Tareas Pendientes</h2>
    <ul>
      {% for task in tasks_pending %}
      <li>{{ task.title }} - {{ task.description }}</li>
      {% endfor %}
    </ul>

    <h2>Tareas en Proceso</h2>
    <ul>
      {% for task in tasks_in_progress %}
      <li>{{ task.title }} - {{ task.description }}</li>
      {% endfor %}
    </ul>

    <h2>Tareas Completadas</h2>
    <ul>
      {% for task in tasks_completed %}
      <li>{{ task.title }} - {{ task.description }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
